snippet li "line item with class"
<li class="${1}">
  ${2}
</li>
endsnippet

snippet script "script tag"
<script>
  ${1}
</script>
endsnippet

snippet div "div"
<div>
  ${1}
</div>
endsnippet

snippet div "div with class"
<div class="${1}">
  ${2}
</div>
endsnippet

snippet span "span with class"
<span class="${1}">
  ${2}
</span>
endsnippet
